<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="MercadoLiebre" content="PrimeraWeb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4efb1a453e.js" crossorigin="anonymous"></script>
</head>

<body>

<header>
    <div class= "inicio">

    <img class="logo-ml" src="/images/logo-mercado-liebreee.svg">

    <input type="text" id="search" placeholder="Buscar productos, marcas" class="busqueda">
    <button class="icon-busqueda"> <i class="fas fa-search" ></i></button>

    <h3 class="titulo0"><i class="fas fa-hand-holding-water"></i> Compra en cuotas y sin tarjeta de credito</h3>

    <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
</div>

<nav class="opciones">
<ul class="section1">
    <li><a href="#">Ofertas</a></li>
    <li><a href=#>Tiendas Oficiales</a></li>
    <li><a href=#>Vender</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>
<ul class="section2">

    <li><a href="#">Crear Cuenta</a><i class="fas fa-id-card"></i> </li>

    <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>

</ul>
</nav>

</header>
<img class="img-banner" src="images/img-home-banner.jpg" alt = "no se puede mostrar imagen">

<main> 
    <h3 class= "tituloUno">Basado en tu ultima visita</h3>
<section>

<div class= "producto">
    <img class="imagenes" src="images/img-cafetera.jpg" alt="">
    <p class="precios">$6770</p>
    <h4 class="descripciones">CafeteraMoulinex</h4>
</div>
<div class="producto">
    <img class="imagenes" src="images/img-macbook.jpg" alt = "no se puede mostrar imagen" >
    <p class="precios">$230.000</p>
<h4 class="descripciones">Mac Book</h4>
</div> 
<div class="producto">
    <img class="imagenes" src="images/img-samsung.jpg" alt="no se puede mostrar imagen" >
    <p class="precios">$70.500</p>
<h4 class="descripciones">Samsung Galaxy S10</h4>
    </div>
<div class="producto">
   <img class="imagenes" src="images/img-tv-samsung.jpg" alt="no se puede mostrar imagen" >
   <p class="precios">$23.200</p>
<h4 class="descripciones">SmartTv Samsung 43</h4>
</div>
<h3 class="tituloDos"> Ofertas </h3>

<div class= "producto">
    <img class="imagenes" src="images/img-cafetera.jpg" alt="">
    <p class="precios">$6770<p>
    <p class="descuentos">40% OFF <i class ="fas fa-shipping-fast"></i> <p>
<h4 class="descripciones">CafeteraMoulinex </h4>
</div>
<div class="producto">
    <img class="imagenes" src="images/img-macbook.jpg" alt = "no se puede mostrar imagen" >
    <p class="precios">$230.000</p>
    <p class="descuentos">20% OFF <i class ="fas fa-shipping-fast"></i> </p>
<h4 class="descripciones">Mac Book</h4>
</div>

<div class="producto">
    <img class="imagenes" src="images/img-samsung.jpg" alt="no se puede mostrar imagen" >
    <p class="precios">$70.500</p>
    <p class="descuentos">10% OFF <i class ="fas fa-shipping-fast"></i></p>
<h4 class="descripciones">Samsung Galaxy S10 </h4>
</div>

<div class="producto">
    <img class="imagenes" src="images/img-tv-samsung.jpg" alt="no se puede mostrar imagen" >
    <p class="precios">$23.200</p>
    <p class="descuentos">5% OFF <i class ="fas fa-shipping-fast"></i></p>
    <h4 class="descripciones">SmartTv Samsung 43 </h4>
</div>
</section>
</main>
<!--<form action="/fomularios" method="POST">
<div class="formulario">
    <div class="form-opciones">
        <label for="usuario">Nombre:</label>
        <input type="text" name="usuario" id="usuario" placeholder="Ej: Alan Calisaya " required>
    </div>
    <div class="form-opciones">
        <label for="clave">Contaseña:</label>
        <input type="password" name="clave" id="clave" >
    </div>
    <div class="form-opciones">
        <label for="email">Correo Electronico:</label>
        <input type="email" name="email" id="email">
    </div>
    <div class="form-opciones">
        <button class= "botonIniciar" type="submit">Enviar</button>
    </div>
</div>-->
<footer>

    <i class="fas fa-credit-card"></i>
<h4>Pagá con tarjeta o en efectivo</h4>
<p>Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <i class="fas fa-box-open"></i>
<h4>Envío gratis desde los $2500</h4>
<p>Solo por estar registrado en Mercado Liebre tenes envio gratis en miles de productos. Es un benefecio de Mercado Puntos.</p>
    <i class="fas fa-user-shield"></i> 
<h4>Seguridad de principio a fin</h4>
<p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer, porque estas siempre protegid@.</p>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>
</body>
</html>