.logo-ml{
    width: 200px;
}
header{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926 ;
}

.titulo0{
margin: 20px;
font-size: 18px;
font-weight: 400;
text-align: center;
max-width:200px;
}

.opciones{
    display: none;
}

.opciones ul{
font-size: 15px;
list-style: none;
margin: 0;
padding: 0 ;
}

.opciones a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 0;
}

.busqueda{
    display: flex;
    font-size: 20px;
}
.fa-search{
    font-size:15px ;
    margin: 10px 0 10px 0;
}
.icon-busqueda{
    display: flex;
    font-size: 100px;
}
.burger-menu {
    text-align: center;
    max-width: 25px;
    background-color: rgb(19, 48, 175) ;
    border: 1px solid rgb(19, 48, 175); /* Agrega un borde de cuadro azul */
    border-radius: 8px; /* Añade esquinas redondeadas al borde */
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:18px;
    margin: auto;
    padding: 5px 0;
}
.fa-bars{
    font-size: 20px;
}

.img-banner{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    box-sizing:border-box;
    text-align: center
}
.tituloUno {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    margin: auto;
}
.tituloDos{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}

.imagenes{
    width: 200px;
    height: 200px;
}  
.producto{
    display: flex;
    font-size: 16px;
    border: 0px solid #ebebeb ; /* Ancho y color del borde */
    padding: 20px; /* Espacio dentro del recuadro */
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px #212121 ; /* Agrega una sombra */
    box-sizing: border-box;
    max-width: 100%;
    align-items: center;
    margin: 100px;
    width: 300px;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
}
.fa-shipping-fast{
    color: #09b509;
    animation: spin 5s linear infinite; /* Agrega una animación de giro */
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.precios{
    font-size:20px ;
}
.descuentos {
    font-size: 18px;
    color: #16c516;
}
.descripciones {
    font-size: 18px;
}

footer{
    text-align: center;
    background-color: white;
    padding: 15px;
    border: solid 1px black;
    box-sizing: border-box;
}
footer i.fas{
    color:#004cff ;
    font-size: 30px;
}

@media (min-width:330px){
    .inicio{
        display: flex;
        justify-content: space-evenly
    }
    .logo-ml{
        display: flex;
        width: 130px;
        padding: 0;
        margin: 10px;
    }
    .burger-menu{
    display: flex;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin: 10px;
    padding: 2px;
}

    .busqueda{
    display: flex ;
    font-size: 14px ;
    margin: 10px 0px 10px 10px;
    padding: 10;
    width: 120px;
    height: auto;
    flex-grow: 1;
}
    .icon-busqueda{
    display: flex;
    font-size:14px ;
    margin:10px 0px 10px 0;
    padding:0;
    width: 20px;
    height: auto;
    
}
    .titulo0{
    display: none;
}
.imagenes{
    width: 100px;
    height: auto;
}
    .producto{
    display: inline-block ;
    width: 140px;
    height: 230px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 11px ;
    padding: 20px;
    margin-left: 40px
}    
.precios{
    font-size: 12px;
}
.descripciones{
    font-size: 13px;
}
.descuentos{
    font-size: 11px;
}
}



@media (min-width: 700px){ 
    .inicio{
        display: flex;
        justify-content: space-between;

    }
    .logo-ml{
        width: 200px;
        margin: 10px;
        
    }
    .busqueda{
        margin: auto;
        padding:0px;
        font-size: 20px

    }
    .icon-busqueda{
        display: flex;
        width: 30px;
        height: 30px;
        margin: auto;

    }
    .fa-search{
        font-size:15px;
        align-items: center;
        margin: 5px;

    }    
    .titulo0{
        display: flex;
        max-width: auto;
        text-align: right;
        padding: 0%;

    }
    .burger-menu {
        display: none;

    }
    .opciones{
        display: flex;
        justify-content: space-between;

    }
    .opciones ul{
        display: flex;
    }
    .opciones li{
        margin: 0 10px
    }
    .imagenes{
        width: 200px;
        height: auto;
    }
    .producto{
        display:inline-block;
        justify-content: space-between;
        box-sizing:content-box;
        margin: 10px;
        padding: 50px;
        width: 180px;
        height: auto;
        margin-left: 50px;
    }
    .precios{
        font-size: 20px;
    }
    .descripciones{
        font-size: 20px;
    }
    .descuentos{
        font-size: 17px;    }

    }

@media (min-width: 1026px){
.inicio, .opciones {
    margin: auto;
}
.inicio{
    align-items: center;
    justify-content: space-evenly;

}
.busqueda{
    width: 300px;
    height: auto;
}
.icon-busqueda{
    width: 30px;
    height: auto;
}
.titulo0 {
    max-width: none;
    font-size: 22px;
}
.opciones li{
    margin-top: 10px;
    margin: 10px;

}
.opciones a{
    margin: 0px;
}
.logo-ml{
    width: 250px
}
.imagenes{
    width: 250px;
    height: auto;
    margin: 10px;
}
.producto{
    display: inline-block;
    justify-content: space-around;
    margin: 20px;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    margin-left: 70px;
    padding: auto;
}
.precios{
    font-size: 25px;
}
.descripciones{
    font-size: 25px;
}
.fa-shipping-fast{
}
.descuentos{
    font-size:22px ;
}
}