<footer>
    <i class="fas fa-credit-card"></i>
<h4>Pagá con tarjeta o en efectivo</h4>
<p>Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <i class="fas fa-box-open"></i>
<h4>Envío gratis desde los $2500</h4>
<p>Solo por estar registrado en Mercado Liebre tenes envio gratis en miles de productos. Es un benefecio de Mercado Puntos.</p>
    <i class="fas fa-user-shield"></i> 
<h4>Seguridad de principio a fin</h4>
<p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer, porque estas siempre protegid@.</p>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</body>
</html>