<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="MercadoLiebre" content="PrimeraWeb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/4efb1a453e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class= "inicio">
            <a href="PaginaPrincipal">
             <img class="logo-ml" src="/images/logo-mercado-liebreee.svg">
            </a> 
             <input type="text" id="search" placeholder="Buscar productos, marcas" class="busqueda">
             <button class="icon-busqueda"> <i class="fas fa-search" ></i></button>
    <h3 class="titulo0"><i class="fas fa-hand-holding-water"></i> Compra en cuotas y sin tarjeta de credito</h3>
             <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
         </div>
    
    <nav class="opciones">
         <ul class="section1">
             <li><a href="#">Ofertas</a></li>
             <li><a href=#>Tiendas Oficiales</a></li>
             <li><a href=#>Vender</a></li>
             <li><a href="#">Ayuda</a></li>
         </ul>
         <ul class="section2">
             <li><a href="CrearCuenta">Crear Cuenta</a><i class="fas fa-id-card"></i> </li>
             <li><a href="Ingresa">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
             <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    
         </ul>
    </nav>
    </header>
             <img class="img-banner" src="images/img-home-banner.jpg" alt = "no se puede mostrar imagen">